/* 
    Document   : style_table
    Created on : Dec 8, 2013, 8:54:48 AM
    Author     : User
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

/*   MAHMMUDUL   HASAN   KHAN   Talha   Training  */

body{
    background-color: #000000;
    color: white;
    margin: 5px 10%;
}

h1,h3{
    text-align: center;
}

#wrapper{
    width: 100%;
    min-width: 620px;
    background-color:white;
    height: 1455px;
}

#wrapper header{
    float: left;
    width: 100%;
    height: 210px;
    background-color:white;
}

header #logo{
    float: left;
    height: 100%;
    width: 24.7%;
    background-color: gray;
    margin-right: .3%;
}

#logo img{
    float: left;
    height: 100%;
    margin: 0% 10%;
}

header #main_banner{
    float: left;
    height: 100%;
    width: 75%;
    background-color: white;
}

#main_banner #top_banner{
    float: left;
    height: 67%;
    width: 100%;
    background-color: #666666;
    color: #ffffcc;
}

#main_banner nav{
    float: left;
    width: 100%;
    height: 29.5%;
    background-color: gray;
    margin-top: .5%;
}

#wrapper section{
    float: left;
    width: 100%;
    height: 1170px;
    background-color: white;
    margin-top: 5px;
    color: #000000;
}

section #middle{
    float: left;
    height: 100%;
    width: 77.4%;
    background-color: gray;
    margin-right: .6%;
}

#middle #mid_bottom{
    float: left;
    height: 96%;
    width: 96%;
    margin: 2%;
    background-color: white;
}

#mid_bottom figure{
    float: left;
    height: 30%;
    width: 45.7%;
    margin: 1.5%;
    border-style: dotted;
    border-color: gray;
    border-width: medium;
}

#mid_bottom figure img{
    float: left;
    width: 90%;
    margin: 1% 2% 3%;
    border-style: groove inset;
    border-color: silver gold darkgoldenrod;
    border-width: 5px 8px 11px;
    box-shadow: 10px 10px 10px #000000;
    position: relative;
    z-index: 1;
    transform: scale(1);
     -webkit-transform: scale(1);
     -moz-transform: scale(1);
    transition: all 1s;
    -webkit-transition: all 1s;
}

#mid_bottom figure img:hover{
    box-shadow: 10px 10px 15px #000000;
    position: relative;
    z-index: 10;
    transform: scale(1.5);
     -webkit-transform: scale(1.5);
     -moz-transform: scale(1.5);  
}

#mid_bottom figure figcaption{
    text-align: center;
}

section #right{
    float: left;
    height: 100%;
    width: 22%;
    background-color: gray;
}

section #right h1{
    font-family: cursive;
    font-size: xx-large;
    font-style: italic;
    font-stretch: ultra-expanded;
    font-weight: bolder;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
}

section #right h1:first-letter{
    color: #660000;
}

section #right h1:hover{
    color: #000066;
    text-decoration: underline;
}

#right #top_right{
    float: left;
    height: 42%;
    width: 80%;
    background-color: silver;
    margin: 10%;
}

#right #bottom_right{
    float: left;
    height: 42%;
    width: 80%;
    background-color: silver;
    margin: 10%;
}

#wrapper #bottom{
    float: left;
    background-color: grey;
    height: 250px;
    margin-top: 5px;
    width: 100%;
}

#wrapper footer{
    float: left;
    width: 100%;
    height: 60px;
    background-color: gray;
    margin-top: 5px;
}

footer h1{
    margin-top: 0px;
    padding-top: 0px;
}

.button{
    float: left;
    background-color: #000066;
    background:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.04, #0000cc),
        color-stop(0.48, #6666ff),
        color-stop(0.88, #000066)
        );
    background: -moz-linear-gradient(
        to bottom,
        #0000cc 4%,
        #6666ff 48%,
        #000066 88%
        );
    box-shadow: 10px 10px 10px #000000;
    color: #ffcc00;
    margin: 5px 13px;
    text-align: center;
    padding: 2px 7px;
    cursor: pointer;
    border-radius: 10px 50px 10px 50px;
    border-style: groove;
    border-width: 0px 0px 5px 5px;
    font-size: 20px;
    font-weight: 900;
    border-color: #ccccff;
    transform: scale(1);
     -webkit-transform: scale(1);
     -moz-transform: scale(1);
    transition: all 1s;
    -webkit-transition: all 1s;
}

.button:first-letter{
    font-size: 22px;
    color: #ff9966;
}

.button:hover{
    font-size: 20px;
    font-weight: bold;
    color: #cc00cc;
    background-color: #009999;
    background:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.04, #006600),
        color-stop(0.48, #99ff99),
        color-stop(0.88, #009999)
        );
    background: -moz-linear-gradient(
        to bottom,
        #006600 4%,
        #99ff99 48%,
        #009999 88%
        );
    box-shadow: 10px 10px 15px #000000;
    transform: scale(1.2);
     -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
}