/* 
    Document   : fb_StyleSheet
    Created on : Dec 21, 2013, 10:15:55 AM
    Author     : User
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

@font-face{
    font-family: mhkDup;
    src: url('../fonts/Duplexide.ttf');
}

a{
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

#main_background{
    float: left;
    width: 100%;
    background-color: #000000;
}

#main_background #wrapper{
    float: left;
    margin: 5px 2%;
    background-color: #666666;
    width: 95%;
    min-width: 690px;
}

#main_background #wrapper #main{
    float: left;
    background-color: #cccccc;
    width: 99.2%;
    margin-right: .5%;
}

#main_background #wrapper #main #header_main{
    position: fixed;
    top: 5px;
    left: 0px;
    float: left;
    height: auto;
    width: 100%;
    text-align: center;
    z-index: 100;
}

#main_background #wrapper #main #header_main #top_menu{
    float: left;
    width: 98.5%;
    padding-left: 1%;
    padding-top: .5%;
    padding-bottom: .5%;
    margin-bottom: .5%;
    height: 32px;
    text-align: center;
    background-color: #3333ff;
    background:-webkit-gradient(
        linear,
        right top,
        left top,
        color-stop(0.02, #3333ff),
        color-stop(0.51, #ff0033),
        color-stop(0.87, #3333ff)
        );
    background: -moz-linear-gradient(
        to left,
        #3333ff 2%,
        #ff0033 51%,
        #3333ff 87%
        );
}

#main_background #wrapper #main #header_main #top_menu span{
    background-color: #ff0000;
    color: #00ffff;
    font-size: 25px;
    font-weight: 900;
    border-radius: 15px;
}

#main_background #wrapper #main #space{
    float: left;
    width: 100%;
    height: 45px;
    background-color: transparent;
}

#main_background #wrapper #space2{
    float: left;
    width: 100%;
    height: 65px;
    background-color: transparent;
}

#main_background #wrapper #main #cover{
    float: left;
    width: 100%;
    background-color: #ffffff;
    height: 545px;
    margin-bottom: .5%;
}

#main_background #wrapper #main #cover #cover_figure{
    float: left;
    margin-left: 5%;
    width: 80%;
    padding-left: 5%;
    margin-top: 0%;
    padding-top: 0%;
    height: 240px;
}

#main_background #wrapper #main #cover #cover_figure #cover_image{
    float: left;
    width: 99%;
    border-style: groove inset;
    border-color: silver gold darkgoldenrod;
    border-width: 1px 2px 3px;
     margin-top: 0%;
     margin-left: 0%;
    position: relative;
    z-index: 1;
    transform: scale(1);
     -webkit-transform: scale(1);
     -moz-transform: scale(1);
    transition: all 2s;
    -webkit-transition: all 2s;
}

#main_background #wrapper #main #cover #profile_image{
    float: left;
    width: 20%;
    border-style: groove inset;
    border-color: silver;
    border-width: 5px 8px 11px;
    margin-left: 3%;
    box-shadow: -0px 0px 0px #000000;
    position: relative;
    z-index: 1;
    transform: scale(1) rotate(0deg);
     -webkit-transform: scale(1) rotate(0deg);
     -moz-transform: scale(1) rotate(0deg);
    transition: all 2s;
    -webkit-transition: all 2s;
}

#main_background #wrapper #main #cover #profile_image:hover{
    box-shadow: -10px 10px 15px #000000;
    position: relative;
     z-index: 20;
     transform: scale(1.5) rotate(360deg);
     -webkit-transform: scale(1.5) rotate(360deg);
     -moz-transform: scale(1.5) rotate(360deg);
}

#main_background #wrapper #main #cover #profile_name{
    position: relative;
    float: left;
    padding-top: 1%;
    padding-left: 3%;
    margin-right: 2%;
    background-color: transparent;
    z-index: 2;
}
#main_background #wrapper #main #cover #profile_name a{
    font-size: xx-large;
    color: #ffffff;
    background-color: black;
    font-weight: bolder;
    font-style: italic;
    font-family: mhkDup;
}

#main_background #wrapper #main #cover #contact_menu {
    position: relative;
    z-index: 5;
    float: left;
    width: 65%;
    margin-left: 3%;
    padding: 0px;
    text-align: center;
    margin-top: 70px;
    background-color: #ffffff;
}

#main_background #wrapper #main #cover #contact_menu #menu_cover{
    height: 85px;
}

#main_background #wrapper #main #cover #contact_menu #menu_cover a:hover {
    text-decoration: none;
}

#main_background #wrapper #main #content{
    float: left;
    width: 100%;
    background-color: #9966ff;
}

#main_background #wrapper #main #content #left_content{
    float: left;
    width: 25%;
    margin-right: 0.5%;
    background-color: #9999ff;
}

#main_background #wrapper #main #content #left_content .box_left{
    float: left;
    width: 80%;
    margin: 5%;
    padding: 5%;
    background-color: #ffffff;
}

#main_background #wrapper #main #content #left_content .box_left ul {
    margin-left: 0px;
    padding-left: 0px;
}

#main_background #wrapper #main #content #left_content .box_left ul li{
    margin-left: 2%;
    padding-left: 1%;
    list-style-type: none;
    border-bottom-width: 1px;
    border-bottom-color: #999999;
    border-bottom-style: groove;
}

#main_background #wrapper #main #content #right_content{
    float: left;
    width: 74%;;
    background-color: #9999ff;
}

#main_background #wrapper #main #content #right_content .box_right{
    float: left;
    width: 94%;
    margin: 2%;
    padding: 1%;
    background-color: #ffffff;
}

#main_background #wrapper #main #content #right_content .box_right ul li{
    list-style-type: none;
    border-bottom-width: 1px;
    border-bottom-color: #999999;
    border-bottom-style: groove;
}

#main_background #wrapper #mhk_footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    float: left;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    text-align: center;
    z-index: 100;
}

#main_background #wrapper #mhk_footer i{
    font-family: cursive;
    font-style: italic;
    cursor: pointer;
    font-weight: bolder;
    font-stretch: ultra-expanded;
}

#main_background #wrapper #mhk_footer i:hover{
    text-decoration: underline;
    background-color: #ffff99;
    color: #000066;
}

nav  {
    
    float: left;

    display: block;

    width: 100%;

    overflow: hidden;
    
    height: 100%;

}


nav ul {

    margin: 0px;

    padding: .7em;

    float: left;

    list-style: none;

    background: #444;

    background: rgba(0,0,0,.2);

    border-radius: 1em;    

    box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset; 
    
    height: 57%;
    
    width: 94%;

}


nav li {

    float:left;
    
    height: 100%;
    
    min-width: 19%;

}

nav #qualification{
    width: 33%;
}

nav #about_me{
    width: 27%;
}

nav #blog{
    width: 15%;
}

nav #gallery{
    width: 20%;
}

nav a {

    float:left;

    padding: .8em 5%;
    
    height: 35%;
    
    width: 95%;

    text-decoration: none;

    color: #555;

    text-shadow: 0 1px 0 rgba(255,255,255,.5);

    font: bold 1.1em/1 'trebuchet MS', Arial, Helvetica;

    letter-spacing: 1px;

    text-transform: uppercase;

    border-width: 1px;

    border-style: solid;

    border-color: #fff #ccc #999 #eee;

    background: #c1c1c1;

    background: linear-gradient(#f5f5f5, #c1c1c1);            

 }
 

nav a:hover, nav a:focus {

    outline: 0;

    color: #fff;

    text-shadow: 0 1px 0 rgba(0,0,0,.2);

    background: #fac754;

    background: linear-gradient(#fac754, #f8ac00);

}

 

nav a:active {

    box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;

}



nav li:first-child a {

    border-left: 0;

    border-radius: 8px 0 0 8px;            
    
    padding-left: 10%;

}

 

nav li:last-child a {

    border-right: 0;

    border-radius: 0 8px 8px 0;            
    
    padding-right: 10%;

}

.input_button{
    float: left;
    background-color: #000066;
    box-shadow: -1px 1px 1px #000000;
    color: #ffffff;
    font-weight: bolder;
    margin: 5px 9px;
    text-align: center;
    padding: 2px 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    border-style: groove;
    border-width: 0px 0px 1px 1px;
    border-color: #ffffff;
}

.input_button:hover{
    background-color: #ffcc66;
    color: #000066;
    border-color: #000066;
}

.gray_button{
    position: relative;
    z-index: 2;
    float: left;
    background-color: #cccccc;
    box-shadow: 0px 0px 0px #000000;
    color: #000000;
    font-weight: 900;
    margin: 35px 5px 5px;
    margin-top: 35px;
    margin-left: 1%;
    margin-right: 0%;
    text-align: center;
    padding: 0px 5px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 0;
    border-style: groove;
    border-width: 0px 0px 1px 1px;
    border-color: #66ccff;
    transform: scale(1);
     -webkit-transform: scale(1);
     -moz-transform: scale(1);
    transition: all 1s;
    -webkit-transition: all 1s;
}

.gray_button:hover{
    background-color: #ffff99;
}

.sign_up_input{
    height: 20px;
    border-style: inset;
    border-width: 2px;
    font-weight: bolder;
    padding-left: 5px;
}