<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>CSS Free Templates with jQuery Slider</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="css/images/favicon.ico" />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	
	<script src="js/jquery-1.6.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery.jcarousel.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/cufon-yui.js" type="text/javascript"></script>
	<script src="js/Verdana_400-Verdana_700.font.js" type="text/javascript"></script>
	<!--[if IE 6]>
		<script src="js/DD_belatedPNG-min.js" type="text/javascript" charset="utf-8"></script>
	<![endif]-->
	<script src="js/functions.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<!-- Begin Wrapper -->
	<div id="wrapper">
		<!-- Begin Shell -->
		<div class="shell">
			<!-- Begin Top Navigation -->
			<p id="top-nav"><span class="welcome">Default welcome msg!</span><a href="#" title="My Account">My Account</a><span>|</span><a href="#" title="My Wishlist">My Wishlist</a><span>|</span><a href="#" title="My Cart">My Cart</a><span>|</span><a href="#" title="Checkout">Checkout</a><span>|</span><a href="#" title="Log In">Log In</a></p>
			<!-- End Top Navigation -->
			<div class="cl">&nbsp;</div>
			<!-- Begin Header -->
			<div id="header">
				<h1 id="logo"><a class="notext" href="#" title="Segway Store">Segway Store</a></h1>
				<!-- Begin Search -->
				<div id="search">
					<form action="#" method="get" accept-charset="utf-8">
						<input type="text" value="Search..." title="Search..." class="blink field" />
						<input class="search-button" type="submit" value="Submit" />
						<div class="cl">&nbsp;</div>
					</form>
					<a href="#" class="advanced" title="Advanced search">Advanced search</a>
				</div>
				<!-- End Search -->
				<div class="cl">&nbsp;</div>
			</div>
			<!-- End Header -->
			<!-- Begin Navigation -->
			<div id="navigation">
				<ul>
					<li class="first"><a href="#" class="active" title="Home"><span>Home</span></a></li>
					<li><a href="#" title="Models"><span>Models</span></a></li>
					<li><a href="#" title="Gallery"><span>Gallery</span></a></li>
					<li><a href="#" title="Accessories"><span>Accessories</span></a></li>
					<li><a href="#" title="Contacts"><span>Contacts</span></a></li>
				</ul>
				<div class="cl">&nbsp;</div>
			</div>
			<!-- End Navigation -->
			<div class="cl">&nbsp;</div>
			<!-- Begin Main -->
			<div id="main">
				<!-- Begin Slider -->
				<div id="slider">
					<!-- Begin Slider Items -->
					<div class="slider-items">
						<ul>
							<li>
								<img src="css/images/slide-img1.jpg" alt="First Slide Image" />
								<div class="slide-entry">
									<h2>Donec ac lorem ac</h2>
									<h3>Donec ac lorem ac ligula</h3>
									<p>Vivamus in enim eros, ut mattis nibh. Nullam orci urna, tristique ut vulputate at, accumsan nec nibh. Nunc accumsan nulla vitae mauris suscipit consequat. Aliquam erat volutpat. Sed pretium consequat erat porttitor scelerisque. Morbi vitae felis elit. Quisque sed pharetra sem.</p>
									<a href="#" class="more" title="Learn More">Learn More</a>
								</div>
							</li>
							<li>
								<img src="css/images/slide-img1.jpg" alt="Second Slide Image" />
								<div class="slide-entry">
									<h2>Donec ac lorem ac</h2>
									<h3>Donec ac lorem ac ligula</h3>
									<p>Vivamus in enim eros, ut mattis nibh. Nullam orci urna, tristique ut vulputate at, accumsan nec nibh. Nunc accumsan nulla vitae mauris suscipit consequat. Aliquam erat volutpat. Sed pretium consequat erat porttitor scelerisque. Morbi vitae felis elit. Quisque sed pharetra sem.</p>
									<a href="#" class="more" title="Learn More">Learn More</a>
								</div>
							</li>
							<li>
								<img src="css/images/slide-img1.jpg" alt="Third Slide Image" />
								<div class="slide-entry">
									<h2>Donec ac lorem ac</h2>
									<h3>Donec ac lorem ac ligula</h3>
									<p>Vivamus in enim eros, ut mattis nibh. Nullam orci urna, tristique ut vulputate at, accumsan nec nibh. Nunc accumsan nulla vitae mauris suscipit consequat. Aliquam erat volutpat. Sed pretium consequat erat porttitor scelerisque. Morbi vitae felis elit. Quisque sed pharetra sem.</p>
									<a href="#" class="more" title="Learn More">Learn More</a>
								</div>
							</li>
						</ul>
						<div class="cl">&nbsp;</div>
					</div>
					<!-- End Slider Items -->
					<!-- Begin Slider Nav -->
					<div class="slider-nav">
						<ul>
							<li class="first">
								<a href="#" title="First Slide">
									<span><img src="css/images/slide-nav-img1.jpg" alt="First Slide Image" /></span>
								</a>
								<span class="slide-sep">&nbsp;</span>
							</li>
							<li>
								<a href="#" title="Second Slide">
									<span><img src="css/images/slide-nav-img2.jpg" alt="Second Slide Image" /></span>
								</a>
								<span class="slide-sep">&nbsp;</span>
							</li>
							<li class="last">
								<a href="#" title="Third Slide">
									<span><img src="css/images/slide-nav-img3.jpg" alt="Third Slide Image" /></span>
								</a>
							</li>
						</ul>
						<div class="cl">&nbsp;</div>
					</div>
					<!-- End Slider Nav -->
				</div>
				<!-- End Slider -->
				<!-- Begin Content -->
				<div id="content">
					<div class="top"></div>
					<!-- Begin Inner -->
					<div class="inner">
						<div id="products">
							<h2>Newest Models</h2>
							<!-- Begin Row -->
							<div class="row">
								<div class="product">
									<div class="img-box">
										<div class="box-frame">&nbsp;</div>
										<img src="css/images/product-img1.jpg" alt="Product Image" />
										<a href="#" class="more" title="View More">View More</a>
									</div>
									<div class="pr-entry">
										<h4>Model name</h4>
										<span class="pr-number">Product: 12</span>
										<p>Nunc et eros felis. Donec ullamcorper faucibus lectus, dictum eleifend justo eleif-end non. Mauris venenatis lorem tincidunt neque imperdiet molestie sit amet dictum purus.</p>
										<span class="pr-price"><span>$</span>1999<sup>.99</sup></span>
									</div>
								</div>
								<div class="product">
									<div class="img-box">
										<div class="box-frame">&nbsp;</div>
										<img src="css/images/product-img2.jpg" alt="Product Image" />
										<a href="#" class="more" title="View More">View More</a>
									</div>
									<div class="pr-entry">
										<h4>Model name</h4>
										<span class="pr-number">Product: 24</span>
										<p>Nunc et eros felis. Donec ullamcorper faucibus lectus, dictum eleifend justo eleif-end non. Mauris venenatis lorem tincidunt neque imperdiet molestie sit amet dictum purus.</p>
										<span class="pr-price"><span>$</span>1399<sup>.99</sup></span>
									</div>
								</div>
								<div class="product pr-last">
									<div class="img-box">
										<div class="box-frame">&nbsp;</div>
										<img src="css/images/product-img3.jpg" alt="Product Image" />
										<a href="#" class="more" title="View More">View More</a>
									</div>
									<div class="pr-entry">
										<h4>Model name</h4>
										<span class="pr-number">Product: 33</span>
										<p>Nunc et eros felis. Donec ullamcorper faucibus lectus, dictum eleifend justo eleif-end non. Mauris venenatis lorem tincidunt neque imperdiet molestie sit amet dictum purus.</p>
										<span class="pr-price"><span>$</span>1299<sup>.99</sup></span>
									</div>
								</div>
								<div class="cl">&nbsp;</div>
							</div>
							<!-- End Row -->
							<!-- Begin Row -->
							<div class="row last">
								<div class="product">
									<div class="img-box">
										<div class="box-frame">&nbsp;</div>
										<img src="css/images/product-img4.jpg" alt="Product Image" />
										<a href="#" class="more" title="View More">View More</a>
									</div>
									<div class="pr-entry">
										<h4>Model name</h4>
										<span class="pr-number">Product: 41</span>
										<p>Nunc et eros felis. Donec ullamcorper faucibus lectus, dictum eleifend justo eleif-end non. Mauris venenatis lorem tincidunt neque imperdiet molestie sit amet dictum purus.</p>
										<span class="pr-price"><span>$</span>2999<sup>.99</sup></span>
									</div>
								</div>
								<div class="product">
									<div class="img-box">
										<div class="box-frame">&nbsp;</div>
										<img src="css/images/product-img5.jpg" alt="Product Image" />
										<a href="#" class="more" title="View More">View More</a>
									</div>
									<div class="pr-entry">
										<h4>Model name</h4>
										<span class="pr-number">Product: 2</span>
										<p>Nunc et eros felis. Donec ullamcorper faucibus lectus, dictum eleifend justo eleif-end non. Mauris venenatis lorem tincidunt neque imperdiet molestie sit amet dictum purus.</p>
										<span class="pr-price"><span>$</span>3999<sup>.99</sup></span>
									</div>
								</div>
								<div class="product pr-last">
									<div class="img-box">
										<div class="box-frame">&nbsp;</div>
										<img src="css/images/product-img6.jpg" alt="Product Image" />
										<a href="#" class="more" title="View More">View More</a>
									</div>
									<div class="pr-entry">
										<h4>Model name</h4>
										<span class="pr-number">Product: 9</span>
										<p>Nunc et eros felis. Donec ullamcorper faucibus lectus, dictum eleifend justo eleif-end non. Mauris venenatis lorem tincidunt neque imperdiet molestie sit amet dictum purus.</p>
										<span class="pr-price"><span>$</span>1599<sup>.99</sup></span>
									</div>
								</div>
								<div class="cl">&nbsp;</div>
							</div>
							<!-- End Row -->
						</div>
					</div>
					<!-- End Inner -->
				</div>
				<!-- End Content -->
			</div>
			<!-- End Main -->
			<!-- Begin Footer -->
			<div id="footer">
				<p class="bottom-menu"><a href="#" title="My Account">My Account</a><span>|</span><a href="#" title="My Cart">My Cart</a><span>|</span><a href="#" title="About Us">About Us</a><span>|</span><a href="#" title="Customer Service">Customer Service</a><span>|</span><a href="#" title="Site Map">Site Map</a><span>|</span><a href="#" title="Contact Us">Contact Us</a><span>|</span><a href="http://css-free-templates.com" title="Design by: CSS Free Templates">Design by: CSS-Free-Templates</a></p>
				<div id="bottom-logo"><a href="http://css-free-templates.com" class="notext" title="Segway Store">Segway Store. Design by: CSS Free Templates</a></div>
				<div class="cl">&nbsp;</div>
			</div>
			<!-- End Footer -->
		</div>
		<!-- End Shell -->
	</div>
	<!-- End Wrapper -->
</body>
</html>