<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>CSS Free Templates with jQuery Slider</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="css/images/favicon.ico" />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/prettyCheckboxes.css" type="text/css" media="all" />
	<script src="js/jquery-1.7.min.js" type="text/javascript"></script>
	<script src="js/jquery.jcarousel.js" type="text/javascript"></script>
	<script src="js/prettyCheckboxes.js" type="text/javascript"></script>
	<script src="js/DD_belatedPNG-min.js" type="text/javascript"></script>
	<script src="js/functions.js" type="text/javascript"></script>
</head>
<body>
	<div class="shell">
		<!-- Header -->
		<div id="header">
			<!-- Search  -->			
			<div id="search">
				<div class="search-holder">
					<form action="" method="post">					
						<input type="text" class="field" value="Keywords" title="Keywords" />
						<input type="submit" value="" class="submit-button" />						
					</form>
					<a class="advanced-search" title="Advanced Search" href="#">Advanced Search</a>
					<div class="cl"></div>
				</div>	
			</div>
			<!-- END Search -->						
			<div class="cl"></div>
			<!-- Logo -->
			<h1 id="logo"><a title="Home" href="#">Mega Store</a></h1>
			<!-- Top Navigation -->
			<div id="top-navigation">	
				<ul>
					<li>0 items  $ 0,00</li>
					<li><a class="start" title="My Account" href="#"><span></span>My Account</a></li>
					<li><a class="cart" title="shopping cart" href="#"><span></span>shopping cart </a></li>
					<li><a class="end" title="checkout" href="#">checkout<span></span></a></li>				
				</ul>		
			</div>				
			<!-- END Top Navigation -->	
			<div class="cl"></div>		
		</div>
		<!-- END Header -->
		<!-- Navigation -->
		<div id="navigation">
			<ul>
				<li><a title="Home" href="#">Home<span class="sep-right"></span></a></li>
				<li>
					<a title="Games" href="#"><span class="sep-left"></span>Gamer<span class="sep-right"></span></a>
				</li>
				<li><a title="Abstract" href="#"><span class="sep-left"></span>abstract<span class="sep-right"></span></a></li>
				<li>
					<a title="Retro" href="#"><span class="sep-left"></span>Retro<span class="sep-right"></span></a>
					<div class="dd">
						<ul>
							<li><a title="Drop down menu 1" href="#"><span class="sep-left"></span>Drop down menu 1</a></li>
							<li>
								<a title="Drop down menu 2" href="#"><span class="sep-left"></span>Drop down menu 2</a>
								<div class="dd">
									<ul>
										<li><a title="Drop down menu 1" href="#"><span class="sep-left"></span><span class="dd-first"></span>Drop down menu 1</a></li>
										<li><a title="Drop down menu 2" href="#"><span class="sep-left"></span>Drop down menu 2</a></li>
										<li><a title="Drop down menu 3" href="#"><span class="sep-left"></span>Drop down menu 3</a></li>										
									</ul>
								</div>
							</li>
							<li><a title="Drop down menu 3" href="#"><span class="sep-left"></span>Drop down menu 3</a></li>							
						</ul>
					</div>
				</li>
				<li><a title="HI Tech" href="#"><span class="sep-left"></span>HI Tech<span class="sep-right"></span></a></li>
				<li><a title="For Children" href="#"><span class="sep-left"></span>For Children<span class="sep-right"></span></a></li>
				<li><a title="For Ladies" href="#"><span class="sep-left"></span>For Ladies<span class="sep-right"></span></a></li>
				<li><a title="Sale!" href="#"><span class="sep-left"></span>sale!</a></li>				
			</ul>
			<div class="cl"></div>
		</div>
		<!-- END Navigation -->
		<!-- Main  -->
		<div id="main">
			<!-- Slider -->
			<div id="slider-holder">				
				<div id="slider">
					<ul>
						<li>
							<img src="css/images/slide1.png" alt="Beautiful white case with flowers" />
							<div class="caption">
								<p>For Real Gamers</p>
								<p class="model">Lian-Li PC-7FW Midi Tower</p>
								<a title="Buy Now!" class="buy-now" href="#">buy now!</a>
							</div>							
						</li>
						<li>
							<img src="css/images/slide2.png" alt="Computer case with cartoon characters" />
							<div class="caption">
								<p>For Gamers</p>
								<p class="model">Lian-Li PC-7FW Tower</p>
								<a title="Buy Now!" class="buy-now" href="#">buy now!</a>
							</div>							
						</li>
						<li>
							<img src="css/images/slide1.png" alt="Beautiful white case with flowers" />
							<div class="caption">
								<p>For Real Gamers</p>
								<p class="model">Gamers PC-7FW Midi Tower</p>
								<a title="Buy Now!" class="buy-now" href="#">buy now!</a>
							</div>							
						</li>
						<li>
							<img src="css/images/slide2.png" alt="Computer case with cartoon characters" />
							<div class="caption">
								<p>For Fun</p>
								<p class="model">Lian-Li PC-7FW Midi Tower</p>
								<a title="Buy Now!" class="buy-now" href="#">buy now!</a>
							</div>							
						</li>
						<li>
							<img src="css/images/slide1.png" alt="Beautiful white case with flowers" />
							<div class="caption">
								<p>For Work</p>
								<p class="model">Lian-Li PC-7FW Midi Tower</p>
								<a title="Buy Now!" class="buy-now" href="#">buy now!</a>
							</div>							
						</li>						
					</ul>
					<div class="slider-controls">
						<a title="slide 1" href="#">1</a>
						<a title="slide 2" href="#">2</a>
						<a title="slide 3" href="#">3</a>
						<a title="slide 4" href="#">4</a>
						<a title="slide 5" href="#">5</a>							
					</div>
					<a title="Previous Slide" id="prev" href="#">prev</a>
					<a title="Next Slide" id="next" href="#">next</a>
				</div>
			</div>
			<!-- END Slider -->
			<!-- Content -->
			<div id="content">				
				<div class="post">
					<h2>Welcome to MEGAStore</h2>
					<p><strong>Proin hendrerit vehicula cursus.</strong> In tempor metus eget magna varius sagittis et ac nisi. Vestibulum massa nisl, tincidunt at sodales a, adipiscing iaculis nunc. Sed rutrum justo vitae sem aliquet bibendum. <strong>Quisque vestibulum, velit ut cursus blandit, orci quam adipiscing arcu, a ultricies felis urna sed risus. Etiam in dolor eu massa sodales faucibus non et purus.</strong> Nam facilisis aliquet adipiscing. Maecenas ligula mi, porttitor faucibus imperdiet eu, porta nec urna. In vel ligula quam. </p>
					<p>Proin in nunc nibh, in suscipit enim. Nunc fermentum metus ut diam faucibus rhoncus. Duis augue sapien, pharetra sit amet mollis at, luctus ut eros.</p>
				</div>
			</div>
			<!-- ЕND Content  -->
			<!-- Sidebar -->
			<div id="sidebar">
				<div class="box">
					<h2>Quick Links</h2>
					<ul>
						<li><a title="Aenean" href="#">Aenean</a></li>
						<li><a title="Suspendisse" href="#">Suspendisse</a></li>
						<li><a title="Pellentesque" href="#">Pellentesque</a></li>
						<li><a title="Mauris" href="#">Mauris</a></li>
						<li><a title="semper nec faucibus" href="#">semper nec faucibus</a></li>
						<li><a title="vel ultrices" href="#">vel ultrices</a></li>
					</ul>
				</div>
			</div>	
			<!-- END Sidebar -->
			<div class="cl"></div>
			<!-- Latest Products -->
			<div class="products">
				<h2>Latest Products</h2>
				<div class="product-holder">
					<div class="product">
						<a title="Details" href="#"><img src="css/images/case1.jpg" alt="Black and red stylish computer case" /></a>
						<p>Case Model</p>							
					</div>
					<p>Product 20</p>
					<div class="price-label">
						<strike>$117.50</strike>
						<p class="price">£96.<sup>35</sup></p>
					</div>
				</div>
				<div class="product-holder">
					<div class="product">
						<a title="Details" href="#"><img src="css/images/case2.jpg" alt="Beautiful white case with flower motives" /></a>
						<img class="sale-label" src="css/images/sale-label.png" alt="Sale!" />							
						<p>Case Model</p>													
					</div>
					<p>Product 20</p>
					<div class="price-label">
						<strike>$117.50</strike>
						<p class="price">£96.<sup>35</sup></p>
					</div>	
				</div>
				<div class="product-holder">
					<div class="product">
						<a title="Details" href="#"><img src="css/images/case3.jpg" alt="Black and white gamers computer case" /></a>
						<p>Case Model</p>							
					</div>
					<p>Product 20</p>
					<div class="price-label">
						<strike>$117.50</strike>
						<p class="price">£96.<sup>35</sup></p>
					</div>
				</div>
				<div class="product-holder">
					<div class="product">
						<a title="Details" href="#"><img src="css/images/case4.jpg" alt="Transformers computer case" /></a>
						<p>Case Model</p>							
					</div>
					<p>Product 20</p>
					<div class="price-label">
						<strike>$117.50</strike>
						<p class="price">£96.<sup>35</sup></p>
					</div>
				</div>
				<div class="product-holder">
					<div class="product">
						<a title="Details" href="#"><img src="css/images/case1.jpg" alt="Black and red stylish computer case" /></a>
						<p>Case Model</p>							
					</div>
					<p>Product 20</p>
					<div class="price-label">
						<strike>$117.50</strike>
						<p class="price">£96.<sup>35</sup></p>
					</div>
				</div>
				<div class="product-holder">
					<div class="product">
						<a title="Details" href="#"><img src="css/images/case2.jpg" alt="Beautoful white case with flower motives" /></a>
						<p>Case Model</p>							
					</div>
					<p>Product 20</p>
					<div class="price-label">
						<strike>$117.50</strike>
						<p class="price">£96.<sup>35</sup></p>
					</div>
				</div>
				<div class="product-holder">
					<div class="product">
						<a title="Details" href="#"><img src="css/images/case3.jpg" alt="Black and white gamers computer case" /></a>
						<p>Case Model</p>							
					</div>
					<p>Product 20</p>
					<div class="price-label">
						<strike>$117.50</strike>
						<p class="price">£96.<sup>35</sup></p>
					</div>
				</div>
				<div class="product-holder">
					<div class="product">
						<a title="Details" href="#"><img src="css/images/case4.jpg" alt="Transformers computer case" /></a>
						<p>Case Model</p>							
					</div>
					<p>Product 20</p>
					<div class="price-label">
						<strike>$117.50</strike>
						<p class="price">£96.<sup>35</sup></p>
					</div>
				</div><div class="product-holder">
					<div class="product">
						<a title="Details" href="#"><img src="css/images/case1.jpg" alt="Black and red stylish computer case" /></a>
						<p>Case Model</p>							
					</div>
					<p>Product 20</p>
					<div class="price-label">
						<strike>$117.50</strike>
						<p class="price">£96.<sup>35</sup></p>
					</div>
				</div>
				<div class="product-holder">
					<div class="product">
						<a title="Details" href="#"><img src="css/images/case2.jpg" alt="Beautoful white case with flower motives" /></a>
						<p>Case Model</p>							
					</div>
					<p>Product 20</p>
					<div class="price-label">
						<strike>$117.50</strike>
						<p class="price">£96.<sup>35</sup></p>
					</div>
				</div>
				<div class="product-holder">
					<div class="product">
						<a title="Details" href="#"><img src="css/images/case3.jpg" alt="Black and white gamers computer case" /></a>
						<p>Case Model</p>							
					</div>
					<p>Product 20</p>
					<div class="price-label">
						<strike>$117.50</strike>
						<p class="price">£96.<sup>35</sup></p>
					</div>
				</div>
				<div class="product-holder">
					<div class="product">
						<a title="Details" href="#"><img src="css/images/case4.jpg" alt="Transformers computer case" /></a>
						<p>Case Model</p>							
					</div>
					<p>Product 20</p>
					<div class="price-label">
						<strike>$117.50</strike>
						<p class="price">£96.<sup>35</sup></p>
					</div>
				</div>
				<div class="cl"></div>
			</div>
			<!-- END Latest Products -->
			<!-- Feartured Products -->
			<div class="products featured">
				<h2>Featured Products</h2>
				<div class="products-slider">
					<ul>
						<li>
							<a title="Details" href="#"><img src="css/images/1.jpg" alt="Silver half transparent with blue lights computer case" /></a>
							<p>Model Name</p>
						</li>
						<li>
							<a title="Details" href="#"><img src="css/images/2.jpg" alt="Solid brown computer case" /></a>
							<p>Model Name</p>
						</li>
						<li>
							<a title="Details" href="#"><img src="css/images/3.jpg" alt="Computer case with a fan on the side and blue lights" /></a>
							<p>Model Name</p>
						</li>
						<li>
							<a title="Details" href="#"><img src="css/images/4.jpg" alt="Half transparent black computer case" /></a>
							<p>Model Name</p>
						</li>
						<li>
							<a title="Details" href="#"><img src="css/images/5.jpg" alt="Compyter case with three extra fans and blue lights" /></a>
							<p>Model Name</p>
						</li>
						<li>
							<a title="Details" href="#"><img src="css/images/1.jpg" alt="Silver half transparent with blue lights computer case" /></a>
							<p>Model Name</p>
						</li>
						<li>
							<a title="Details" href="#"><img src="css/images/2.jpg" alt="Solid brown computer case" /></a>
							<p>Model Name</p>
						</li>
						<li>
							<a title="Details" href="#"><img src="css/images/3.jpg" alt="Computer case with a fan on the side and blue lights" /></a>
							<p>Model Name</p>
						</li>
						<li>
							<a title="Details" href="#"><img src="css/images/4.jpg" alt="Half transparent black computer case" /></a>
							<p>Model Name</p>
						</li>
						<li>
							<a title="Details" href="#"><img src="css/images/5.jpg" alt="Computer case with three extra fans and blue lights" /></a>
							<p>Model Name</p>
						</li>										
					</ul>
				</div>
			</div>
			<!-- END Featured Products -->			
			<!-- Footer  -->
			<div id="footer">
				<div id="footer-top"></div>
				<div id="footer-middle">
					<div class="col styles">
						<h3>Styles</h3>
						<ul>
							<li><a title="gamer" href="#"><span class="bullet"></span>gamer</a></li>
							<li><a title="abstract" href="#"><span class="bullet"></span>abstract</a></li>
							<li><a title="retro" href="#"><span class="bullet"></span>retro</a></li>
							<li><a title="hi tech" href="#"><span class="bullet"></span>hi tech</a></li>
							<li><a title="for children" href="#"><span class="bullet"></span>for children</a></li>
							<li><a title="for ladies" href="#"><span class="bullet"></span>for ladies</a></li>							
						</ul>
					</div>
					<div class="col info">
						<h3>Information</h3>
						<ul>
							<li><a title="About MEGAStore" href="#"><span class="bullet"></span>About MEGAStore</a></li>
							<li><a title="Privacy Policy" href="#"><span class="bullet"></span>Privacy Policy</a></li>
							<li><a title="Terms &amp; Conditions" href="#"><span class="bullet"></span>Terms &amp; Conditions</a></li>
							<li><a title="Contact Us" href="#"><span class="bullet"></span>Contact Us</a></li>
							<li><a title="Site Map" href="#"><span class="bullet"></span>Site Map</a></li>												
						</ul>
					</div>
					<div class="col newsletter">
						<h3>Newsletter</h3>
						<p>NO SPAM! Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						<form action="" method="post">
							<div class="field-holder"><input type="text" class="field" value="Enter Your Email" title="Enter Your Email" /></div>
							<div class="cl"></div>
							<input type="checkbox" name="check-box" value="" id="check-box" />
							<label for="check-box">Lorem ipsum dolor sit amet, consectetur </label>
							<input type="submit" value="submit" class="submit-button" />
						</form>
					</div>
					<div class="cl"></div>
				</div>
				<div id="footer-bottom">
					<p>&copy; MegaStore. Design by <a href="http://css-free-templates.com/">CSS-FREE-TEMPLATES.COM</a></p>
				</div>
			</div>
			<!-- END Footer -->
		</div>
		<!-- END Main -->
	</div>	
</body>
</html>