/*!CK:2534974388!*//*1388985943,178191129*/

.listAttachment{outline:none}
.listAttachmentList{line-height:16px}
.listAttachment .listCreatorLink a{color:#6b84b4}
.fbProfileShareSummarySection .fbProfileBylineFragment{color:#333;display:block;padding-top:3px}
.fbProfileShareSummarySection .uiIconText.fbProfileBylineFragment .img{margin-top:3px}

#bootloader__lCIe { height: 42px; }
.bootloader__lCIe { display:block !important; }