/*!CK:3166865835!*//*1390272307,178158885*/

._24n .body ._24x{color:#333}
._6nw ._24n .body ._24x{color:#4e5665}
._24n .body ._24x:hover{text-decoration:none}
._24n .body a.signature{color:#3b5998;display:inline}
._24n .body a.signature:hover{text-decoration:underline}
._24n .hover:hover .title ._24x{text-decoration:underline}
._24n .forceRTL{direction:rtl;text-align:right;display:block}
._24n .forceLTR{direction:ltr;text-align:left;display:block}
._24n .adInfo a.identity{color:gray;display:block;white-space:nowrap}
._6nw ._24n .adInfo a.identity{color:#898f9c;overflow:hidden;text-overflow:ellipsis}
._24n .title{font-weight:bold;margin-bottom:0 !important}
._24n .image_body_block{padding-top:3px}
._24n .uiUfi{width:auto}
._24n .fbEmuHidePoll .otherdiv .other{width:206px}
._24n .ads_rhc_close{opacity:0}
._24n:hover .old_x, ._24n:hover .uiSelectorButton, ._24n:hover .ads_rhc_close, ._24n .ads_rhc_close.openToggler, .emu_x .openToggler .uiSelectorButton{opacity:1}
.fbEmuHidePoll .undo{float:right;padding-left:2px;padding-bottom:2px;margin-bottom:3px;margin-left:5px}
.fbEmuHidePoll .fbEmuXTitle{font-weight:bold}
.fbEmuHidePoll .fbEmuXSubtitle{margin-bottom:10px}
.fbEmuHideThanks .fbEmuXThanksTitle{font-weight:bold;margin-bottom:10px}
.fbEmuBlock .fbEmuHidePoll .otherdiv{margin-left:20px}
.emu_x{float:right}
.emu_x .uiSelectorButton{opacity:0}
.old_x{opacity:0}
._5vw9{margin:2px 0 4px;position:relative}
._5vw9:hover a{text-decoration:none}
._5vw9:hover .emu_x .uiSelectorButton{opacity:1}
._5qrt ._5vw9{margin:0}
._5vw3{color:#999;font-size:11px}
._5p3y ._5vw3{font-size:12px}
._5qrt ._5vwe{padding-bottom:8px}
._5vwj{padding-top:3px}
._5qrt ._5vwj{padding-top:8px}
._5vwj ._5vwk{color:#333;font-size:11px;line-height:13px}
._5p3y ._5vwj ._5vwk{font-size:12px;line-height:1.28}
._5vwb{display:block}
._5vwb ._5vwc{display:inline;position:relative}
._5vwb ._5vwd{color:#777;display:inline;font-size:11px;line-height:13px;position:relative}
._5p3y ._5vwb ._5vwd{font-size:12px}
._5vw4{padding-bottom:3px;padding-top:6px;position:relative}
._5qrt ._5vw4{padding-bottom:0;padding-top:8px}
._5vw5{width:100px}
._5vw5 .img{max-height:72px;max-width:100px}
._5wai{width:110px}
._5wai .img{max-height:80px;max-width:110px}
._5vw6{width:128px}
._5vw6 .img{max-height:72px;max-width:128px}
._5vw4 ._5vw7 i{background-image:url(/rsrc.php/v2/yN/r/aERK2-5sOBX.png);bottom:6px;height:22px;left:3px;position:absolute;width:27px}
._5vw8{display:table-cell;vertical-align:middle;width:120px}
._5vw8 .img{max-height:90px;max-width:120px}
._5vwg{font-size:11px;line-height:13px}
._5vwg ._5vwh{color:#3b5998}
._5vwg ._5vwi{color:#999}
._5p3y ._5vwg{font-size:12px;line-height:16px}
._5p3y ._5vwg ._5vwi{color:#898f9c}
.listMemberFacepileFacebar .img{height:24px !important;width:24px !important}
.listMemberFacepileSearch .img,
.listMemberFacepileNormal .img{height:25px !important;width:25px !important}
.listMemberFacepileLarge .img{height:36px !important;width:36px !important}
.listMemberFacepileLargeCollection .img{height:31px !important;width:31px !important}
.listMemberFacepileHuge .img{height:50px;width:50px}
div.listMemberFacepileSearch{height:50px;width:50px}
div.listMemberFacepileFacebar{height:48px;width:48px}
div.listMemberFacepileNormal{width:51px;height:51px}
div.listMemberFacepileLarge{width:75px;height:75px}
div.listMemberFacepileLargeCollection{height:64px;width:64px}
div.listMemberFacepileHuge{width:101px;height:101px}
.listMemberFacepile{line-height:0;outline:none;white-space:normal}
.listMemberFacepile .firstImg{margin-right:1px}
.listMemberFacepile .lastImg{margin:1px 0 0 1px}
.listMemberFacepile.listMemberFacepileSearch .firstImg,
.listMemberFacepile.listMemberFacepileFacebar .firstImg{margin-right:0}
.listMemberFacepile.listMemberFacepileSearch .lastImg,
.listMemberFacepile.listMemberFacepileFacebar .lastImg{margin:0}
.listMemberFacepile.listMemberFacepileSearch .img{left:0;position:relative}
.listMemberFacepile .img{display:inline !important}
._5alt{margin-top:0}
.rhcFooterWrap{padding-left:6px}
.rhcFooterBorder{border-bottom:1px solid #e9e9e9}
.rhcFooterCopyright{padding:10px 0 4px}
#rhc_footer_selector{vertical-align:top}
.rhcFooterSelectorButton .img{margin:6px 0 0 3px;vertical-align:top}
._8_9.ego_column{width:auto}
._8_9 .ego_section{margin:0}
._8_9 .ego_section .uiSideHeader{padding-bottom:0}
._8_9 .ego_section .ego_unit{margin:0;padding:8px 0}
._8_9 .ego_section .ego_unit ._4u8 .fbEmuMarketplace .uiSelectorMenu{margin-top:-3px}
._8_9.egoOrganicColumn .ego_section .ego_unit:last-child{padding-bottom:12px}
._8_9 .ego_section .adsCategoryIcon{margin-top:-2px}
._8_9 .ego_section .uiHeaderTitle{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._8_9 .ego_unit .action{margin-top:0}
._8_9 .ego_unit .action ._24x{outline:none}
._8_9 .ego_unit .ego_x, ._8_9 .ego_unit .emu_x{margin-right:-11px}
._4tot{margin-left:12px}
._8_9 .action .fbEmuContext{display:inline-block}
._8_9 .ego_unit .action ._24x, ._8_9 .action .fbEmuContext, ._8_9 .action .inlineContext{margin-top:8px}
._8_9 .action .inlineContext .fbEmuContext{margin-top:0}
._8_9 .ego_unit .action .fbEmuContext a, ._8_9 .ego_unit .messageBody, ._8_9 .ego_unit .messageBody a, ._8_9 .ego_unit .uiLinkSubtle, ._8_9 .ego_unit .eventRSVP a, ._8_9 ._a1z, ._8_9 ._a1z a{color:#898f9c}
._8_9 .fbEmuStreamStory .messageBody .whitespaceLink:hover, ._8_9 .fbEmuStreamStory .whitespaceLink:hover .fbEmuStreamOGAction, ._8_9 .fbEmuStreamStory .whitespaceLink:hover .fbEmuLikeMessage{background-color:#fff}
._8_9 ._5g4m{padding:0 4px}
._8_9 ._5g4m img{opacity:.8}
._8_9 .uiStream .uiStreamMessage{margin-bottom:0}
._8_9 .fbEmuStreamStory .fadStoryAttachment, ._8_9 .fbEmuStreamStory .fadStoryFooter{margin-top:8px}
._8_9 .fbEmuXThanksBody a{font-weight:bold}
._8_9 .ego_unit .uiStreamPassive a, ._8_9 .ego_unit .egoProfileTemplate .ego_title, ._8_9 .ego_unit .eventTitle, ._8_9 .ego_unit .fbEmuMainBody a, ._8_9 .ego_unit .fbEmuStreamStory .uiBlingBox .text{color:#232b37}
._8_9 .ego_unit .action .fbEmuContext a{display:inline;font-weight:bold}
._8_9 .ego_unit .lfloat{margin-right:10px}
._8_9 .ego_unit .lfloat > .img{padding-top:0}
._8_9 .ego_unit .image_body_block, ._8_9 .ego_unit .fbEmuContext, ._8_9 .ego_unit_container{line-height:16px;padding:0}
._8_9 .ego_section .ego_unit:first-child, ._8_9.egoOrganicColumn .ego_section .ego_unit:first-child{padding-top:10px}
._8_9 .ego_unit .uiStream .uiStreamMessage{font-size:12px}
._8_9 .ego_unit .uiStarsRatable{margin-top:5px}
._8_9 .egoPlaceComboInput .uiTypeaheadSpan{padding:0}
._8_9.egoOrganicColumn .ego_section .ego_unit{border-top:0;padding:6px 0}
._8_9 .uiStream .uiStreamPassive{color:#4e5665;font-size:12px}
._8_9 .uiStream .uiStreamPassive a{font-weight:bold;text-decoration:none}
.ego_x{float:right;opacity:0}
.ego_unit:hover .ego_x{opacity:1}
.ego_image .img{vertical-align:bottom}
.ego_image_tiny .img{height:32px;width:32px}
.ego_image_small .img{height:50px;width:50px}
.ego_image_medium .img{width:80px}
.ego_title{display:block;font-weight:bold;line-height:13px;max-width:162px;word-wrap:break-word}
.ego_page .UIStandardFrame_Container{padding-left:0;width:980px}
.ego_page .UIStandardFrame_Content{width:720px}
.ego_page .UIStandardFrame_SidebarAds{width:auto}
.ego_column{width:244px}
.ego_section{margin-bottom:15px}
.ego_section .async_saving a{display:none}
.ego_section .indicator{display:none}
.ego_section .async_saving .indicator{display:inline}
.ego_section .adsCategoryIcon{vertical-align:-1px}
.ego_section .uiHeaderTitle{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.adsCategoryTitleLink{color:#666}
.egoGYSJ{margin-bottom:2px;margin-left:3px}
.egoGYSJImage{margin-top:2px}
.egoGYSJName{display:inline-block;font-weight:bold;max-width:162px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.egoGYSJFooter{padding:0 18px 15px 0}
.egoGYSJFooterButton{width:100%}
.egoGYSJFeedbackLink{margin-right:12px}
div.egoProfileTemplate div{margin-top:2px;line-height:13px}
div.ego_unit_container div.clickable{cursor:hand;cursor:pointer}
div.egoProfileTemplateSubtitle{color:gray}
._561s{line-height:13px;margin-top:2px}
._53ee{margin-top:-5px}
._53ee._5vlm{border-bottom:1px solid #e9e9e9}
._6nw ._53ee{margin-top:0}
html ._58op{padding:0 4px}
html ._5h3q{margin-left:10px;margin-top:4px;padding:2px 4px}
._54bc{display:inline-block}
html ._5ba_ ._54bc{padding-right:40px;padding-top:8px}
html ._5ba_ ._58op{margin-top:3px}
html ._5ba_._5h3r ._54bc{padding-right:0}
._6nw ._5ba_._5h3r ._54bc{padding-right:40px}
._5cl-{overflow:hidden}
html ._54bc .img{margin-left:5px;position:relative;top:-1px;vertical-align:middle}
._569r ._54bc{visibility:hidden}
._569r:hover ._54bc{visibility:visible}
.fbReminders .fbRemindersStory{padding:3px 5px}
.fbReminders .fbRemindersIcon{height:16px;width:16px}
.fbReminders .fbRemindersStory .fbRemindersRemove{margin-top:-1px;display:none}
.fbReminders .fbRemindersStory .fbRemindersRemove.openMenu{display:block}
.fbReminders .celebrationStory .fbRemindersRemove{display:block;visibility:hidden}
.fbReminders .celebrationStory:hover .fbRemindersRemove{visibility:visible}
.fbReminders .fbRemindersStory:hover{background-color:#eceff5;cursor:pointer}
.fbReminders .fbRemindersStory:hover a{text-decoration:none}
.fbReminders .fbRemindersStory:hover .fbRemindersRemove, .fbReminders .fbRemindersStory a{display:block}
.fbReminders .fbRemindersStory .fbRemindersTitle{color:#3b5998}
.fbRemindersContent{overflow:hidden}
.fbRemindersContent .fbRemindersFooter{text-align:center}
.fbRemindersContent .fbCalendarList .fbCalendarLabel{width:60px}
.fbRemindersContent .fbCalendarList .fbCalendarItemContent{width:330px}
.fbRemindersContent .fbRemindersPokeBack{white-space:nowrap}
.fbRemindersContent .uiScrollableArea .jewelHeader{background-color:#fff}
.fbRemindersContent .fbRequestList, .fbRemindersContent .jewelHeader, .fbRemindersContent .friendBrowserForm{margin-right:10px}
.fbBirthdayRemindersContent .uiScrollableAreaWithShadow.contentBefore:before{-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);top:-2px}
.fbBirthdayRemindersContent .uiScrollableAreaWithShadow.contentAfter:after{background-color:#fff;-webkit-box-shadow:0 -1px 2px rgba(0,0,0,0.3);height:6px}
.fbBirthdayRemindersContent .fbRemindersTitleSeeAll{color:#627aad}
.fbBirthdayRemindersContent .fbRemindersSubtitleActionList{color:#adb2bb}
.fbBirthdayRemindersContent .fbRemindersSubtitleAgeText{color:#6a7180}
.fbBirthdayRemindersContent .fbRemindersTodayHeader, .fbBirthdayRemindersContent .fbRemindersSublistHeader{color:gray;font-size:11px}
.fbBirthdayRemindersContent
.fbRemindersBirthdayList
.fbRemindersBirthdayListItem{border-color:#e9eaed}
.fbNamedayRemindersContent
.fbRemindersNamedayList
.fbRemindersNamedayListItem{border-color:#e9eaed}
.fbRemindersLoadingIndicator{display:block;padding:50px;text-align:center}
.fbRemindersStickyArea{background-color:#fff}
.fbEventReminderContent .fbCalendarLineSeparator{display:none}
.fbEventReminderContent li.fbCalendarItem:first-child{padding-top:0}
.fbEventReminderContent li.fbCalendarItem:last-child{padding-bottom:0}
._5pan{margin-left:18px}
._5pc6{display:none;text-align:center}
._5pc7, ._5pc7:hover{display:block;text-decoration:none}
.async_saving ._5pc6{display:block}
.async_saving ._5pc7{display:none}
._4bl7{float:left;min-height:1px}
._4bl8{float:right}
._4bl9{overflow:hidden}
._4bl7, ._4bl9{word-wrap:break-word}
.uiMediaThumb{background:#fff;border:1px solid #ccc;display:inline-block;outline:none;padding:4px;position:relative;vertical-align:bottom}
.loading.uiMediaThumb{background:url(/rsrc.php/v2/yk/r/LOOn0JtHNzb.gif) no-repeat center center}
.loading.uiMediaThumb i{opacity:.3}
.uiMediaThumbSelected{background-color:#3b5998;border-color:#3b5998}
.uiMediaThumb:hover, .uiMediaThumb:hover .uiMediaThumbWrap, .uiMediaThumb:active, .uiMediaThumb:active .uiMediaThumbWrap, .uiMediaThumb:focus, .uiMediaThumb:focus .uiMediaThumbWrap{border-color:#3b5998}
.uiMediaThumb i{background-color:#eee;background-position:center 25%;background-repeat:no-repeat;display:block}
.uiMediaThumbSmall i{height:54px;width:73px}
.uiMediaThumbMedium i{height:85px;width:114px}
.uiMediaThumbLarge i{height:116px;width:149px}
.uiMediaThumbHuge i{height:120px;width:161px}
.uiMediaThumbAlb{margin-bottom:5px;margin-right:5px}
.uiMediaThumbWrap{background:#fff;border:1px solid #ccc;left:4px;padding:4px;position:absolute;top:4px}
.uiMediaThumbAlbSmall, .uiMediaThumbSmall .uiMediaThumbWrap i{height:49px;width:68px}
.uiMediaThumbAlbMedium, .uiMediaThumbMedium .uiMediaThumbWrap i{height:80px;width:109px}
.uiMediaThumbAlbLarge, .uiMediaThumbLarge .uiMediaThumbWrap i{height:111px;width:144px}
.uiMediaThumbAlbHuge, .uiMediaThumbHuge .uiMediaThumbWrap i{height:115px;width:156px}

#bootloader_KKknM { height: 42px; }
.bootloader_KKknM { display:block !important; }