/*!CK:3503696975!*//*1390272461,178191153*/

._5eh4{border:1px solid rgba(0, 0, 0, .08);margin-bottom:10px;position:relative;width:398px}
._5eh6{bottom:0;left:0;position:absolute;right:0;top:0}
._5eh7{color:#888;line-height:16px}
._5eh8{background-color:#f7f7f7;padding:7px 10px;position:relative}
._5eha{color:#3b5998;font-size:13px;font-weight:bold;padding-bottom:2px}
._5ehc{padding:14px 0 0 24px}
._5qq3{position:relative;z-index:1}
._5saw, ._5sax{position:relative;z-index:1}
._5saw .uiButtonLarge{height:20px}
._5saw .uiButtonLarge input:focus{outline:none}
._5say{height:32px;width:64px}
._5saz{border-left:2px solid #eaeaea;bottom:10px;position:absolute;right:10px;top:10px;width:54px;z-index:1}
._5sax .PageLikeButton{background:none;border:none;-webkit-box-shadow:none;margin:4px 0 0 16px;padding:7px 4px}
._5sax .PageLikedButton:focus{-webkit-box-shadow:none}
._5ys5 .firstPassiveName{font-weight:bold}

#bootloader_jzOvh { height: 42px; }
.bootloader_jzOvh { display:block !important; }