<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>CSS Free Templates with jQuery Slider</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="css/images/favicon.ico" />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<script src="js/jquery-1.7.min.js" type="text/javascript"></script>
	<script src="js/jquery.jcarousel.js" type="text/javascript"></script>
	<script src="js/DD_belatedPNG-min.js" type="text/javascript"></script>
	<script src="js/cufon-yui.js" type="text/javascript"></script>	
	<script src="js/Tahoma_400-Tahoma_700.font.js" type="text/javascript"></script>
	<script src="js/functions.js" type="text/javascript"></script>		
</head>
<body>
	<!-- Wrapper -->
	<div id="wrapper">
		<div class="shell">
			<!-- Header -->
			<div id="header">
				<!-- Logo -->
				<h1 id="logo"><a title="home" href="#">Sun Glasses</a></h1>
				<!-- Navigation -->
				<div id="navigation">
					<ul>
						<li><a title="Home" href="#">Home<span></span></a></li>
						<li><a title="Catalog" href="#">Catalog<span></span></a></li>
						<li><a title="Blog" href="#">Blog<span></span></a></li>
						<li><a title=" About Us" href="#">About Us<span></span></a></li>
					</ul>
				</div>
				<!-- END Navigation -->
				<div class="cl"></div>
				<div id="cart">
					<p><a title="shopping bag" href="#">shopping bag:&nbsp; 0 items</a></p>
				</div>
			</div>	
		</div>
		<!-- END Header -->
		<!-- Main -->
		<div id="main">
			<!-- Slider Holder -->
			<div id="slider-holder">
				<div class="shell">
					<!-- Main Slider -->
					<div id="slider">
						<a title="Details" class="main-button" href="#">view product</a>					
						<ul>
							<li>
								<img src="css/images/slide.jpg" alt="A man with sun glasses" />
								<div class="caption">
									<h2>Some Tittle Gose Here </h2>
									<h3>Sed nec mi et nisi pulvinar egestas</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum metus in turpis dapibus non dictum justo imperdiet. </p>
								</div>
								<div class="cl"></div>
							</li>
							<li>
								<img src="css/images/slide.jpg" alt="A man with sun glasses" />
								<div class="caption">
									<h2>Some  Here </h2>
									<h3>Sed nec mi et nisi pulvinar egestas</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum metus in turpis dapibus non dictum justo imperdiet. </p>
								</div>
								<div class="cl"></div>
							</li>
							<li>
								<img src="css/images/slide.jpg" alt="A man with sun glasses" />
								<div class="caption">
									<h2>Some Tittle Gose Here </h2>
									<h3>Sed nec mi et nisi pulvinar egestas</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum metus in turpis dapibus non dictum justo imperdiet. </p>
								</div>
								<div class="cl"></div>
							</li>
						</ul>
						<div id="slider-nav">
							<a title="slide 1" href="#">1<span class="fade"></span><span class="active"></span><img src="css/images/thumb.jpg" alt="A young man with sun glasses" /></a>
							<a title="slide 2" href="#">2<span class="fade"></span><span class="active"></span><img src="css/images/thumb2.jpg" alt="A young woman with sun glasses" /></a>
							<a title="slide 3" href="#">3<span class="fade"></span><span class="active"></span><img src="css/images/thumb3.jpg" alt="A little girl with curly hair and sun glasses" /></a>
						</div>						
					</div>
					<!-- END Main Slider -->								
				</div>	
			</div>
			<!-- END Slider Holder -->
			<!-- Featured Items -->
			<div class="items">
				<div class="shell">
					<h4>Featured Items</h4>
					<div class="shop-by">
						<ul>
							<li>Shop by:</li>
							<li><a title="men" href="#">men</a></li>
							<li><a title="woman" href="#">woman</a></li>
							<li><a title="children" href="#">children</a></li>							
						</ul>		
					</div>
					<!-- Products -->
					<div class="products">
						<div class="product-frame">
							<div class="product">
								<a title="View product" class="view-button" href="#">view product</a>
								<div class="img-holder">	
									<a title="View product" href="#"><img src="css/images/1.jpg" alt="Images of sunglasses" /></a>
								</div>								
								<div class="img-bottom"></div>
								<div class="price-box">
									<p>price</p>
									<p class="price"><span class="dollar">$</span>159<sup>.99</sup></p>
								</div>
								<div class="product-entry">
									<p class="model">Sunglasses<br /> Model</p>
									<p class="model"><span>product: 48</span></p>
									<p class="product-info">Sed at fringilla est. Donec ac mi augue. Mauris id sem at felis sollicitudin sollicitudin. Integer lorem tortor, porttitor vitae porta ut, auctor 	at urna. In convallis...</p>
								</div>
							</div>
						</div>
						<div class="product-frame">
							<div class="product">
								<a title="View product" class="view-button" href="#">view product</a>
								<div class="img-holder">	
									<a title="View product" href="#"><img src="css/images/2.jpg" alt="Images of sunglasses" /></a>
								</div>								
								<div class="img-bottom"></div>
								<div class="price-box">
									<p>price</p>
									<p class="price"><span class="dollar">$</span>129<sup>.99</sup></p>
								</div>
								<div class="product-entry">
									<p class="model">Sunglasses<br /> Model</p>
									<p class="model"><span>product: 57</span></p>
									<p class="product-info">Sed at fringilla est. Donec ac mi augue. Mauris id sem at felis sollicitudin sollicitudin. Integer lorem tortor, porttitor vitae porta ut, auctor 	at urna. In convallis...</p>
								</div>
							</div>
						</div>
						<div class="product-frame">
							<div class="product">
								<a title="View product" class="view-button" href="#">view product</a>
								<div class="img-holder">	
									<a title="View product" href="#"><img src="css/images/3.jpg" alt="Images of sunglasses" /></a>
								</div>								
								<div class="img-bottom"></div>
								<div class="price-box">
									<p>price</p>
									<p class="price"><span class="dollar">$</span>249<sup>.99</sup></p>
								</div>
								<div class="product-entry">
									<p class="model">Sunglasses<br /> Model</p>
									<p class="model"><span>product: 99</span></p>
									<p class="product-info">Sed at fringilla est. Donec ac mi augue. Mauris id sem at felis sollicitudin sollicitudin. Integer lorem tortor, porttitor vitae porta ut, auctor 	at urna. In convallis...</p>
								</div>
							</div>
						</div>
						<div class="product-frame">
							<div class="product">
								<a title="View product" class="view-button" href="#">view product</a>
								<div class="img-holder">	
									<a title="View product" href="#"><img src="css/images/4.jpg" alt="Images of sunglasses" /></a>
								</div>								
								<div class="img-bottom"></div>
								<div class="price-box">
									<p>price</p>
									<p class="price"><span class="dollar">$</span>99<sup>.99</sup></p>
								</div>
								<div class="product-entry">
									<p class="model">Sunglasses<br /> Model</p>
									<p class="model"><span>product: 66</span></p>
									<p class="product-info">Sed at fringilla est. Donec ac mi augue. Mauris id sem at felis sollicitudin sollicitudin. Integer lorem tortor, porttitor vitae porta ut, auctor 	at urna. In convallis...</p>
								</div>
							</div>
						</div>
						<div class="product-frame">
							<div class="product">
								<a title="View product" class="view-button" href="#">view product</a>
								<div class="img-holder">	
									<a title="View product" href="#"><img src="css/images/5.jpg" alt="Images of sunglasses" /></a>
								</div>								
								<div class="img-bottom"></div>
								<div class="price-box">
									<p>price</p>
									<p class="price"><span class="dollar">$</span>199<sup>.99</sup></p>
								</div>
								<div class="product-entry">
									<p class="model">Sunglasses<br /> Model</p>
									<p class="model"><span>product: 12</span></p>
									<p class="product-info">Sed at fringilla est. Donec ac mi augue. Mauris id sem at felis sollicitudin sollicitudin. Integer lorem tortor, porttitor vitae porta ut, auctor 	at urna. In convallis...</p>
								</div>
							</div>
						</div>
						<div class="product-frame">
							<div class="product">
								<a title="View product" class="view-button" href="#">view product</a>
								<div class="img-holder">	
									<a title="View product" href="#"><img src="css/images/6.jpg" alt="Images of sunglasses" /></a>
								</div>								
								<div class="img-bottom"></div>
								<div class="price-box">
									<p>price</p>
									<p class="price"><span class="dollar">$</span>284<sup>.99</sup></p>
								</div>
								<div class="product-entry">
									<p class="model">Sunglasses<br /> Model</p>
									<p class="model"><span>product: 76</span></p>
									<p class="product-info">Sed at fringilla est. Donec ac mi augue. Mauris id sem at felis sollicitudin sollicitudin. Integer lorem tortor, porttitor vitae porta ut, auctor 	at urna. In convallis...</p>
								</div>
							</div>
						</div>
						<div class="cl"></div>
					</div>
					<!-- END Products -->
				</div>
			</div>
			<!-- END Featured Items -->
			<!-- Bestsellers -->
			<div class="items">
				<div class="shell">
					<h4>Best Sellers</h4>
					<div class="products-slider">
						<ul>
							<li>
								<div class="product">
									<div class="img-holder">	
										<a title="View product" href="#"><img src="css/images/item1.jpg" alt="" /></a>
									</div>								
									<div class="img-bottom"></div>
									<div class="price-box">
										<p>price</p>
										<p class="price"><span class="dollar">$</span>284<sup>.99</sup></p>
									</div>
									<div class="product-entry">
										<p class="model">Sunglasses<br /> Model</p>
										<p class="model"><span>product: 76</span></p>									
									</div>
								</div>
							</li>
							<li>
								<div class="product">
									<div class="img-holder">	
										<a title="View product" href="#"><img src="css/images/item2.jpg" alt="" /></a>
									</div>								
									<div class="img-bottom"></div>
									<div class="price-box">
										<p>price</p>
										<p class="price"><span class="dollar">$</span>284<sup>.99</sup></p>
									</div>
									<div class="product-entry">
										<p class="model">Sunglasses<br /> Model</p>
										<p class="model"><span>product: 76</span></p>									
									</div> 
								</div>
							</li>
							<li>
								<div class="product">
									<div class="img-holder">	
										<a title="View product" href="#"><img src="css/images/item3.jpg" alt="Images of sunglasses" /></a>
									</div>								
									<div class="img-bottom"></div>
									<div class="price-box">
										<p>price</p>
										<p class="price"><span class="dollar">$</span>284<sup>.99</sup></p>
									</div>
									<div class="product-entry">
										<p class="model">Sunglasses<br /> Model</p>
										<p class="model"><span>product: 76</span></p>									
									</div>
								</div>
							</li>
							<li>
								<div class="product">
									<div class="img-holder">	
										<a title="View product" href="#"><img src="css/images/item4.jpg" alt="Images of sunglasses" /></a>
									</div>								
									<div class="img-bottom"></div>
									<div class="price-box">
										<p>price</p>
										<p class="price"><span class="dollar">$</span>284<sup>.99</sup></p>
									</div>
									<div class="product-entry">
										<p class="model">Sunglasses<br /> Model</p>
										<p class="model"><span>product: 76</span></p>									
									</div>
								</div>
							</li>
							<li>
								<div class="product">
									<div class="img-holder">	
										<a title="View product" href="#"><img src="css/images/item1.jpg" alt="Images of sunglasses" /></a>
									</div>								
									<div class="img-bottom"></div>
									<div class="price-box">
										<p>price</p>
										<p class="price"><span class="dollar">$</span>284<sup>.99</sup></p>
									</div>
									<div class="product-entry">
										<p class="model">Sunglasses<br /> Model</p>
										<p class="model"><span>product: 76</span></p>									
									</div> 
								</div>
							</li>
							<li>
								<div class="product">
									<div class="img-holder">	
										<a title="View product" href="#"><img src="css/images/item2.jpg" alt="Images of sunglasses" /></a>
									</div>								
									<div class="img-bottom"></div>
									<div class="price-box">
										<p>price</p>
										<p class="price"><span class="dollar">$</span>284<sup>.99</sup></p>
									</div>
									<div class="product-entry">
										<p class="model">Sunglasses<br /> Model</p>
										<p class="model"><span>product: 76</span></p>									
									</div>
								</div>
							</li>
							<li>
								<div class="product">
									<div class="img-holder">	
										<a title="View product" href="#"><img src="css/images/item3.jpg" alt="Images of sunglasses" /></a>
									</div>								
									<div class="img-bottom"></div>
									<div class="price-box">
										<p>price</p>
										<p class="price"><span class="dollar">$</span>284<sup>.99</sup></p>
									</div>
									<div class="product-entry">
										<p class="model">Sunglasses<br /> Model</p>
										<p class="model"><span>product: 76</span></p>									
									</div>
								</div>
							</li>						
						</ul>
					</div>
				</div>	
			</div>	
			<!-- END Bestsellers -->		
			<div class="columns">
				<div class="shell">
					<div class="post">
						<div class="col about">
							<p class="heading">about sunglasses</p>
							<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur in sem mauris. Etiam nec ipsum a est facilisis fermentum mollis congue nibh. Proin porta pharetra mauris ac facilisis. Donec elementum imperdiet ante vel malesuada.</p>
							<a title="Read more" href="#">&raquo;&nbsp;read more</a>
						</div>
						<div class="col categories">
							<p class="heading">categories</p>
							<ul>
								<li><a title="Men sunglasses" href="#">Men</a></li>
								<li><a title="Women sunglasses" href="#">Women</a></li>
								<li><a title="Children sunglasses" href="#">Childern</a></li>						
							</ul>
						</div>
						<div class="col info">
							<p class="heading">informations</p>
							<ul class="first">
								<li><a title="Shopping Bag" href="#">Shopping Bag</a></li>
								<li><a title="Returns" href="#">Returns</a></li>
								<li><a title="Search" href="#">Search</a></li>						
							</ul>
							<ul>
								<li><a title="About Us" href="#">About Us</a></li>
								<li><a title=" Terms Of Service" href="#"> Terms Of Service</a></li>
								<li><a title="Privacy Policy" href="#">Privacy Policy</a></li>						
							</ul>
						</div>
						<div class="cl"></div>
					</div>						
				</div>					
			</div>			
		</div>
		<!-- END Main  -->
		<div id="footer-push"></div>
	</div>
	<!-- END Wrapper -->
	<!-- Footer -->
	<div id="footer">
		<div class="shell">
			<div id="bottom-logo"><a title="home" href="http://css-free-templates.com/">Bottom logo</a></div>
			<p>Copyright &copy; Company Name 2012. All Rights Reserved. Design by: <a href="http://css-free-templates.com/">CSS Free Templates</a></p>
			<div class="cl"></div>
		</div>
	</div>
	<!-- END Footer -->
</body>	
</html>